/*@font-face {
    font-family: 'aurebesh_cantina_bold_italic';
    src: url('aurebesh_cantina_bold_italic-webfont.woff2') format('woff2'),
        url('aurebesh_cantina_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aurebesh_cantina_italic';
    src: url('aurebesh_cantina_italic-webfont.woff2') format('woff2'),
        url('aurebesh_cantina_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'aurebesh_cantina_regular';
    src: url('aurebesh_cantina-webfont.woff2') format('woff2'),
        url('-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aurebesh_cantina_bold';
    src: url('aurebesh-cantina-bold-webfont.woff2') format('woff2'),
        url('aurebesh-cantina-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stellar_bold';
    src: url('stellar-bold-webfont.woff2') format('woff2'),
        url('stellar-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*@font-face {
    font-family: 'stellar_light';
    src: url('stellar-light-webfont.woff2') format('woff2'),
        url('stellar-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stellar_medium';
    src: url('stellar-medium-webfont.woff2') format('woff2'),
        url('stellar-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'stellar_regular';
    src: url('stellar-regular-webfont.woff2') format('woff2'),
        url('stellar-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'almost_there_numeric';
    src: url('almostthere-numeric.woff2') format('woff2'),
        url('almostthere-numeric.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --card-shape: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    --pos: #00A264;
    --neg: #FF2606;
    --sylop: 252, 197, 89;
    --background: #000;
    --background-gradient: linear-gradient(135deg, #000000, #080600, #0f0c00, #151100, #191500, #1d1800, #201c00, #241f00);
}

body {
    background: var(--background-gradient);
    color: white;
    margin: 0;
    font-family: 'stellar_regular';
}

.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1px;
}

.players {
    grid-area: 1 / 1 / 2 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playercard {
    padding: 1em 1.5em;
    margin: .5em 1em;
    text-align: center;
}

.playercard .name {
    font-size: 1.5em;
    padding-bottom: .2em;
    font-family: 'aurebesh_cantina_bold';
}

.playercard .credits {
    font-weight: bold;
}

.playercard.active {
    background-color: rgb(var(--sylop));
    color: var(--background);
    box-shadow: 0 0 30px 10px rgba(var(--sylop), 0.4);
    border-radius: 4px;
}

.playercard.active .name {
    font-weight: bold;
}

.playercard.out {
    color: var(--neg);
    text-shadow: var(--neg) 0px 0 8px;
}

.current-bet {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-pot {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.discard-pile {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sabacc-pot {
    grid-area: 3 / 4 / 4 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actions {
    grid-area: 4 / 2 / 5 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-hand {
    grid-area: 5 / 2 / 6 / 5;
    display: grid;
    align-items: bottom;
    justify-content: center;
    padding-bottom: 1em;
}

.title {
    grid-area: 2 / 1 / 6 / 2;
    padding: 1em;
}

.title .aurebesh {
    font-size: 4em;
    color: rgb(var(--sylop));

    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(270deg);
    transform-origin: 0 0;
}

.game-info {
    grid-area: 5 / 5 / 5 / 6;
    display: grid;
    justify-content: right;
    padding: 1em;
}

button {
    background-color: #00000000;
    border: 2px solid #fff;
    color: #fff;
    font-family: 'stellar_bold';
    padding: 15px 32px;
    border-radius: 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: .5em;
}

button:hover {
    background-color: #fff;
    color: var(--background);
}

.aurebesh {
    font-family: 'aurebesh_cantina_regular';
    text-shadow: rgb(var(--sylop)) 0px 0 8px;
}

.neg {
    color: var(--neg);
}

.counter .number {
    font-family: 'almost_there_numeric';
    font-size: 6em;
    color: rgb(var(--sylop));
    text-shadow: rgb(var(--sylop)) 0px 0 8px;
    margin-bottom: .2em;
    letter-spacing: -8px;
}

.label {
    font-family: 'stellar_bold';
    font-size: 1.5em;
    margin-bottom: .2em;
}

.label.aurebesh {
    font-family: 'aurebesh_cantina_regular';
    color: rgb(var(--sylop));
    font-size: 1em;
}

.current-bet.counter .number {
    margin-left: -20px;
}

.sabacc-pot.counter .number {
    margin-left: -10px;
}

#discard,
.container {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.card {
    display: grid;
    justify-content: center;
    align-items: center;
    clip-path: var(--card-shape);
    height: 12em;
    width: 10em;
    background-color: white;
}

.card .value {
    font-size: 4em;
    font-family: 'stellar_bold';
}

.card.pos {
    border-top: 15px solid var(--pos);
    border-bottom: 15px solid var(--pos);
}

.card.pos .value {
    color: var(--pos);
}

.card.neg {
    border-top: 15px solid var(--neg);
    border-bottom: 15px solid var(--neg);
}

.card.neg .value {
    color: var(--neg);
}

.card.sylop {
    border-top: 15px solid rgb(var(--sylop));
    border-bottom: 15px solid rgb(var(--sylop));
}

.card.sylop .value {
    color: rgb(var(--sylop));
    content: '🟈';
}

.handtotal {
    text-align: center;
    margin-top: 1.5em;
    color: #ffffff9f;
}

.progress-bar {
    height: 20px;
    width: 100%;
    background-color: navy;
}

.progress-bar .bar {
    height: 20px;
    width: 30%;
}

.progress-bar .bar span {
    display: inline-block;
}

#rnd1progress {
    height: 20px;
    background-color: green;
}

#rnd2progress {
    height: 20px;
    background-color: orange;
}

#rnd3progress {
    height: 20px;
    background-color: red;
}